{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
   

<section class="v-center jarallax">
    <div class="de-gradient-edge-top"></div>
    <div class="de-gradient-edge-bottom"></div>
    <img src="{{asset('images/background/8.webp')}}" class="jarallax-img" alt="">
    <div class="container z-1000">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-4">
                    <div class="padding40 rounded-10 shadow-soft bg-dark-1">
                        <div class="text-center">
                            <h4>Réinitialiser votre mot de passe</h4>
                        </div>
                        <div class="spacer-10"></div>

                        {{ form_start(resetForm) }}
                            {{ form_row(resetForm.plainPassword) }}
                            <button class="btn btn-primary">Réinitialiser votre mot de passe</button>
                        {{ form_end(resetForm) }}

                    </div>
                </div>
            </div>
        </div>
</section>
  {% endblock %}