

{# Composant pour le hero de la page Home  #}
<div class="col-lg-3 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay="{{ effectWowDelay }}">
    <div>
        <img src="{{asset(imgSrcHero) }}" class="mb20" alt="Image section hero ">
        <h4>{{ titleHero }}</h4>
        
        <p>{{ descriptionHero }}</p>
    </div>
</div>

