 <!-- ` begin -->
 <footer>
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-4">
                <img src="{{asset('images/logo-test.png')}}" alt="Logo du site" >
                <div class="spacer-20"></div>
                <p>EsportRegion est la plateforme ultime pour les passionnés de jeux compétitifs. Nous connectons les joueurs de tous niveaux, de l'amateur au professionnel. Notre mission : démocratiser les compétitions gaming et offrir à chaque joueur la chance de révéler son véritable potentiel.</p>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                        <div class="widget ">
                            <h5>Pages</h5>
                            <ul>
                                <twig:NavLink route="app_home" text="Accueil"/>
                                <twig:NavLink route="app_tournament" text="Tournois"/>
                                <twig:NavLink route="app_tournament_location" text="Localisation"/>
                                <twig:NavLink route="app_about" text="A propos"/>
                                <twig:NavLink route="app_contact" text="Contact"/>
                            </ul>
                        </div>
            </div>
            <div class="col-lg-4">
                <div class="widget">
                   
                    <div class="spacer-30"></div>
                    <div class="widget">
                        <h5>Suivez-nous</h5>
                        <div class="social-icons">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-discord"></i></a>
                            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a href="index.html">
                                Copyright 2025 - by EsportRegion
                            </a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">RGPD</a></li>
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->